<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item
        ><a routerLink="/">{{ 'list.breadcrumb.home' | translate }}</a></d-breadcrumb-item
      >
      <d-breadcrumb-item>Quản lý</d-breadcrumb-item>
      <d-breadcrumb-item>Sản phẩm</d-breadcrumb-item>
    </d-breadcrumb>
    <div class="da-content-banner-title">Quản lý</div>
    <div>Sản phẩm</div>
  </div>
  <div class="da-content-wrapper">
    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24">
        <div class="da-list-container">
          <div class="da-list-header">
            <div class="da-header-left">
              <div class="da-header-item">
                <div class="da-header-item-label">Danh mục lớn:</div>
                <d-select
                  [options]="categoryOptions"
                  [(ngModel)]="categoryChosen"
                  [filterKey]="'category_name'"
                  (valueChange)="subcategoryChosen = []; getList()"
                  [placeholder]="'Danh mục lớn'"
                  >
                </d-select>
              </div>
              <div class="da-header-item" *ngIf="categoryChosen">
                <div class="da-header-item-label">Danh mục nhỏ:</div>
                <d-select
                  [options]="categoryChosen.subcategories"
                  [(ngModel)]="subcategoryChosen"
                  [multiple]="true"
                  [disabled]="categoryChosen.subcategories.length == 0"
                  [filterKey]="'subcategory_name'"
                  (valueChange)="getList()"
                  [placeholder]="'Danh mục nhỏ'"
                  >
                </d-select>
              </div>
              <div class="da-header-item">
                <div class="da-header-item-label">Tên sản phẩm:</div>
                <d-search
                  [size]="'sm'"
                  (searchFn)="getList()"
                  [(ngModel)]="_search.text_search"
                  class="da-inline"
                  [placeholder]="'Tên sản phẩm'"
                ></d-search>
              </div>
              <div class="da-header-item">
                <div class="da-header-item-label">Sắp xếp theo:</div>
                <d-select
                  [options]="sortOptions"
                  [filterKey]="'label'"
                  [(ngModel)]="sortChosen"
                  (valueChange)="getList()"
                  [placeholder]="'Sắp xếp'"
                  >
                </d-select>
              </div>
              <div class="da-header-item">
                <div class="da-header-item-label">Giá sản phẩm:</div>
                <section style="display: flex;">
                  <div class="col-md-6" style="margin-right: 10px">
                    <div class="row">
                      <div class="col-md-6">
                        <d-search
                          [size]="'sm'"
                          (searchFn)="getList()"
                          [(ngModel)]="_search.min_price"
                          class="da-inline"
                          [placeholder]="'Giá từ'"
                        ></d-search>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        <d-search
                          [size]="'sm'"
                          (searchFn)="getList()"
                          [(ngModel)]="_search.max_price"
                          class="da-inline"
                          [placeholder]="'Đến giá'"
                        ></d-search>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <div class="header-right">
              <d-button (click)="addRow()" style="margin-right: 8px">Thêm sản phẩm</d-button>
              <d-button (click)="reset()" bsStyle="common" style="margin-right: 8px">Reset</d-button>
              <d-button (click)="batchDelete()" bsStyle="danger" [disabled]="!deleteList.length">Xóa hàng loạt</d-button>
            </div>
          </div>
          <br />
          <div class="list-content" dLoading [loading]="busy">
            <d-data-table
              #datatable
              [dataSource]="basicDataSource"
              [borderType]="searchForm.borderType"
              [size]="searchForm.size"
              [tableLayout]="searchForm.layout"
              [scrollable]="true"
              (checkAllChange)="onCheckAllChange()"
            >
              <thead dTableHead [checkable]="true">
                <tr dTableRow>
                  <th dHeadCell>#</th>
                  <th dHeadCell>Ảnh</th>
                  <th dHeadCell>Tên sản phẩm</th>
                  <th dHeadCell>Phân loại</th>
                  <th dHeadCell>Giá sản phẩm</th>
                  <th dHeadCell>Số lượng bán ra</th>
                  <th dHeadCell>Tác vụ</th>
                </tr>
              </thead>
              <tbody dTableBody>
                <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
                  <tr dTableRow [ngClass]="{ 'table-row-selected': rowItem.$checked }">
                    <td dTableCell class="devui-checkable-cell">
                      <d-checkbox
                        (ngModelChange)="onRowCheckChange($event, rowIndex, nestedIndex, rowItem)"
                        [ngModel]="rowItem.$checked"
                        [halfchecked]="rowItem.$halfChecked"
                        [disabled]="rowItem.$checkDisabled"
                        dTooltip
                        [content]="rowItem.$checkBoxTips"
                        [position]="['top', 'right', 'bottom', 'left']"
                        [showAnimation]="false"
                      >
                      </d-checkbox>
                    </td>
                    <td dTableCell>{{ rowIndex + 1 }}</td>
                    <td dTableCell>
                      <img style="width: 60px; height: 100%; border-radius: 2px" src="{{ image_api }}image/product/{{rowItem.colors[0].product_image1 }}" alt="">
                    </td>
                    <td dTableCell>
                      {{ rowItem.product_name }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.colors.length }} Màu
                        (<span
                          *ngFor="let cl of rowItem.colors; index as i"
                          >
                          {{ cl.color_name + (i == rowItem.colors.length - 1 ? '' : ',')}}
                          </span>), {{ rowItem.colors[0].sizes.length }} Size
                    </td>
                    <td dTableCell>
                      <span *ngIf="rowItem.min_price !== rowItem.max_price">{{ rowItem.min_price | number }}đ - {{ rowItem.max_price | number }}đ</span>
                      <span *ngIf="rowItem.min_price === rowItem.max_price">{{ rowItem.min_price | number }}đ</span>
                    </td>
                    <td dTableCell>
                    {{ rowItem.quantity_sold }}
                    </td>
                    <td dTableCell>
                      <div class="btn-group over-flow-ellipsis">
                        <d-button icon="icon-edit" bsStyle="danger" bsSize="xs" title="edit" shape="circle" style="margin-right: 8px"></d-button>
                        <d-button icon="icon-delete" bsStyle="danger" bsSize="xs" title="delete" shape="circle"></d-button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </d-data-table>
          </div>
          <div class="da-list-footer">
            <d-pagination
              [size]="'sm'"
              [total]="pager.total"
              [(pageSize)]="pager.pageSize"
              [(pageIndex)]="pager.pageIndex"
              [canViewTotal]="true"
              [canChangePageSize]="true"
              [canJumpPage]="true"
              [maxItems]="5"
              (pageIndexChange)="onPageChange($event)"
              (pageSizeChange)="onSizeChange($event)"
            >
            </d-pagination>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>
</div>

<ng-template #EditorTemplate>
  <da-admin-form>
  </da-admin-form>
</ng-template>
